#ss_button {
	background-color: #4CAF50; /* Green */
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	border: none;
	border-radius: 25px;
}

#d1 {
	float: left
}

#d2 {
	float: left;
	margin-top: 10px;
}


button {
	display: inline;
	float: left;
}

input {
  display: inline-block;
  width: 3em;
  position: relative;
  top: -3em;
  float: left;
  font-size: 15px;
  border: 0px solid red;
  border-radius: 2px;
  background-color : #d1d1d1;
  text-align: center;

}

label {
  display: inline-block;
  width: 3em;
  margin-right: .5em;
  margin-left: 15px;
  padding-top: 2.5em;
  text-align: center;
  float: left;
}

body {
	float: left;
	vertical-align: center
	margin: 0 auto;
	width: 180px;
	height: 50px;
	
}